{% load static %}
{% block content %}
{% include 'header1.html' %}
<style>
    .reference-link {
        display: inline-block;
        padding: 10px 20px;
        background-color: #b35138;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .reference-link:hover {
        background-color: #a33f2a;
    }

    .back-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }

    .back-button:hover {
        background-color: #555;
    }

    .content-container {
        text-align: center;
        margin-top: 120px;
    }
</style>

<div class="content-container">
    {% if workout_url %}
    <h1>{{ workout_name }}</h1>
    <img src="{{ workout_url }}" width="100%" height="600px"/>
        <a href="{{ reference_video }}" class="reference-link" target="_blank">Watch Reference Video</a>
    {% else %}
        <p>No Image available.</p>
    {% endif %}
    
    <a href="{% url 'workouts' %}" class="back-button">Go Back</a>
</div>
{% endblock %}
